.main-button button {
    display: inline-block;
    font-size: 15px;
    padding: 12px 20px;
    background-color: #ed563b;
    border-color: #ed563b;
    color: #fff;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    transition: all .3s;
}